<?xml version="1.0" ?>
<robot name="abb_irb120_3_58_schunk" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find abb_irb120_gazebo)/urdf/irb120_3_58.xacro" />
    <xacro:include filename="$(find schunk_mpz45)/urdf/schunk_mpz45_0.xacro" />


    <xacro:macro name="abb_irb120_schunk_mpz45" params="">
        <xacro:abb_irb120_3_58 prefix="" />
        <xacro:schunk_mpz45 prefix="" />
    </xacro:macro>
</robot>