<?xml version="1.0" ?>
<robot name="abb_irb120_3_58_schunk" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find abb_irb120_gazebo)/urdf/irb120_3_58.xacro" />
    <xacro:include filename="$(find schunk_mpz45)/urdf/schunk_mpz45.xacro" />

    <joint name="joint_10" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0" />
        <parent link="tool0" />
        <child link="head" />
    </joint>
    
    <xacro:macro name="abb_irb120_schunk_mpz45" params="">
        <xacro:abb_irb120_3_58 prefix="" />
        <xacro:schunk_mpz45 prefix="" />
        <link name="world" />
        <joint name="world-base_link-fixed" type="fixed">
            <parent link="world" />
            <child link="base_link" />
        </joint>
    </xacro:macro>
</robot>