<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find pickuppoint)/urdf/pickuppoint.xacro'" />
  <node name="pickuppoint_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model pickuppoint" />

  <env name="GAZEBO_MODEL_PATH" value="$(find simulation)/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find simulation)/worlds/pickuppoint.world"/>
    <!-- <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="false"/> -->
  </include>



</launch>