<launch>
    <include file="$(find abb_irb120_moveit_config)/launch/moveit_planning_execution.launch" >
      <arg name="sim" value="false"/>
      <arg name="robot_ip" value="192.168.125.1"/>
    </include>
        <node name="PickuppointBroadcaster" type="PickuppointBroadcaster" pkg="pickuppoint" args="pickuppoint -0.033 -0.3025 0.01 0 0 -1.57"/>
        <!-- <node name="PickuppointBroadcaster" type="PickuppointBroadcaster" pkg="pickuppoint" args="pickuppoint 0.2 -0.56 0.0 0 0 -1.57"/> -->

    <node name="gripper_controller" type="gripper_controller" pkg="gripper_controller"/>
    <node name="abb_controller" type="abb_controller" pkg="abb_controller"/>
    <node name="capacitive_sensor_plugin" type="capacitive_sensor_plugin" pkg="capacitive_sensor" args="0"/>
</launch>