<launch>
    <include file="$(find abb_irb120_moveit_config)/launch/moveit_planning_execution.launch" >
      <arg name="sim" value="false"/>
      <arg name="robot_ip" value="192.168.125.1"/>
    </include>
    <node name="gripper_controller" type="gripper_controller" pkg="gripper_controller"/>
    <node name="abb_controller" type="abb_controller" pkg="abb_controller"/>
</launch>